$fontLexend: "Lexend", sans-serif;
$fontNunito: "Nunito", sans-serif;

$colorWhite: #fff;
$colorExtraLightGrey: #f0f0f0;
$colorExtraLightGrayishBlue: #f7f8fa;
$colorExtraLightSilver: #f0f4f5;
$colorSteel: #f0f1f5;
$colorSilver: #f5f5f5;
$colorGhostWhite: #fefeff;
$colorExtraLight: #f3f4f5;
$colorLightSilver: #f7f9fa;
$colorMediumSilver: #ddd;
$colorWhiteSmoke: #f7f7f7;
$colorLightSmoke: #fafafa;
$colorWhisper: #ececec;
$colorDeepWhisper: #ebebeb;
$colorMintCream: #fdfffe;
$colorSnow: #fafafa;
$colorDeepSilver: #b3b3b3;
$colorDarkSilver: #d9d9d9;
$colorXainBlack: #0f1a3d;
$colorRadicalRed: #f74c52;
$colorOldLace: #fdf2e2;
$colorSimpleGray: #acafb0;
$colorGrey: #5b5b5b;
$colorLightGrey: #e6e6e6;
$colorGainsboro: #dedede;
$colorNevada: #717373;
$colorMediumGrey: #808080;
$colorCyanGrey: #828e99;
$colorDeepGrey: #909090;
$colorGraphiteLight: #404040;
$colorGraphiteMedium: #363a3c;
$colorGraphite: #4d4d4d;
$colorGraphiteDark: #646d75;
$colorGhostWhite: #fefeff;
$colorMediumSeaGreen: #47b978;
$colorHawkesBlue: #d4dfec;
$colorCello: #394e66;
$colorMidnightExpress: #151f33;
$colorMidnightExpressTransp: rgba($colorMidnightExpress, 0.7);
$colorStack: #8b8d8b;
$colorNightRider: #323232;
$colorBlackPearl: #000308;
$colorNero: #232323;
$colorDarkGrey: #1b1b1b;
$colorDarkGreyTransparent: rgba(27, 27, 27, 0.7);
$colorPink: #ff4081;
$colorDarkPink: #f82a70;
$colorLightGreen: #5fcb4e;
$colorMediumGreen: #b3d154;
$colorGardenGreen: #47b978;
$colorMediumSeaGreen: #47b978;
$colorGreen: #3dc98f;
$colorDarkGreen: #40a540;
$colorLaPalma: #399439;
$colorMidnightGreen: #021f2e;
$colorUltraLightCyan: #e2fafa;
$colorLightCyan: #67dfb3;
$colorBrightCyan: #00c4c4;
$colorAzureCyan: #3bdaff;
$colorMayaBlue: #67c3fa;
$colorSummerSky: #3ec0fa;
$colorAquaBlue: #00b3ef;
$colorSapphireLight: #0164a3;
$dataSoftwareColor: #01acc1;
$colorSapphire: #00609e;
$colorDarkCyan: #00acc1;
$colorCyan: #38d4c3;
$colorCyanBlue: #4aaac2;
$colorMellow: #fffbf2;
$colorCreamYellow: #fff8e8;
$colorShadowYellow: #ebe5d7;
$colorLightYellow: #f8e71c;
$colorYellow: #ffd740;
$colorYellowOrange: #ffa600;
$colorCanary: #ffb900;
$colorOrange: #f9ac36;
$colorElectricYellow: #f6cf3d;
$colorDarkYellow: #ffc619;
$colorRed: #f00;
$colorLightRed: #ff3e5f;
$colorCoralRed: #f04444;
$colorCinnabar: #ef4335;
$colorLightOrange: #ffdfcd;
$colorMediumOrange: #fe8676;
$colorOrange: #fe6b26;
$colorLightBlue: #cde3ff;
$colorLightGrayishBlue: #c7cee0;
$colorHawkesBlue: #d4dfec;
$lavender: #eff0f8;
$colorBlue: #40c4ff;
$colorElectricBlue: #67daf9;
$colorDeepBlue: #53b6ff;
$colorAzure: #3283fb;
$colorAzureDark: #0e7fff;
$colorDarkBlue: #2771e1;
$colorAkivaBlue: #3880ff;
$colorNavy: #012169;
$colorEgyptianBlue: #0d36a1;
$colorExtraLightViolet: #5e49b3;
$colorLightViolet: #6b53c9;
$colorMediumViolet: #43347f;
$colorGradientViolet: #5a5c6d;
$colorDeepViolet: #322766;
$colorDarkViolet: #403181;
$colorBannerViolet: #40377b;
$colorPurple: #5231d6;
$colorLightGreyViolet: #464e5d;
$colorGreyViolet: #383c5d;
$colorGreySteel: #676f7a;
$colorGreyShadow: #272e40;
$colorBlueGrey: #224e6a;
$colorBlueViolet: #1a44c7;
$colorLightLilac: #d5dcff;
$colorLilac: #324dd9;
$colorOceanBlue: #4a90e2;
$colorUltraViolet: #24263d;
$colorCello: #394e66;
$colorCharcoal: #52576a;
$colorChargingGrey: #726c83;
$colorAkivaBlack: #111028;
$colorMidnightExpress: #151f33;
$colorMidnightExpressTransp: rgba($colorMidnightExpress, 0.7);
$colorStack: #8b8d8b;
$colorElectricGrey: #818183;
$colorNightRider: #323232;
$colorBlackPearl: #000308;
$colorJetBlack: #0d0d0d;
$colorNero: #232323;
$colorMediumBlack: #20232a;
$colorDeepBlack: #121417;
$colorAzureBlack: #1a375f;
$colorLightSea: #1396d6;
$colorExtraLigntSea: #d3f0f9;
$colorSeaBlack: #151f33;
$colorDarkGraphite: #5b6270;
$colorDarkGrey: #323232;
$colorBlackShadow: #1a1b1e;
$colorBlack: #000;
$colorTransp: transparent;
$colorGray6: #0f0f0f;
$colorAliceBlue: #f3f8ff;
$colorRainbow: #213c6d;
$colorJobDone: #2d6fe0;
$colorGray8: #373737;
$colorExaloan: #0e677b;
$colorTifo: #4061e7;
$colorAcademyBlack: #20232a;
$colorAcademyRed: #dc5c5f;
$colorAcademyGrey: #2d293a;
$colorAcademyYellow: #ffd741;
$colorAcademyGreen: #168862;
$colorAcademyLightBlue: #f6f8fe;
$colorPrimaryBlack: #20232a;
$colorHoverGrey: #505e68;
$colorPressedGreyButton: #909fa9;
$colorPressedBlack: #2c343a;
$colorPressedGrey: #f3f5fa;
$colorActiveGrey: #cad2d6;
$colorPrimaryBlue: #40c4ff;
$colorPrimaryYellow: #ffd740;
$colorActiveViolet: #2c2259;
$colorDropdownGrey: #4a4a4a;
$colorErrorRed: #da1b41;
$colorFooterGrey: #414141;
$colorSliderGrey: #eee;
$colorSliderGreyBefore: #ababab;
$colorPopupGrey: #9b9b9b;
$colorPastelYellow: #fcfaf2;
$colorRiskSilver: #eaeaea;
$colorRiskDeepBlue: #004987;
$colorRiskBlack: #353535;
$colorPastelBlue: #5a769c;
$colorRiskDarkBlue: #27333d;
$colorRiskDeepSilver: #e5e5e5;
$colorStartupSilver: #f2f4f5;
$colorStartupSmokeSilver: #e3e7e9;
$colorCreatorLinkBlue: #1966c2;
$colorSecondaryBlack: #111112;
$colorCollabriRed: #ff1749;
$colorCollabriPink: #ff3e5f;
$colorCollabriGrey: #676f7a;
$colorExaloanBlack: #0e0e0f;
$colorSecondaryBlue: #00a7f5;
$colorTertiaryBlack: #18191b;
$colorTreezorBlack: #151516;
$colorTreezorBlue: #186beb;
$colorCollabAsiaViolet: #7f0dd6;
$colorPrimaryViolet: #7101ff;

$timeFast: 0.15s;
$timeMedium: 0.3s;

$shadowDefault: 0 0 15px 0 rgba($colorBlack, 0.1);
$shadowLarge: 3px 18px 30px 0 rgba($colorCyanGrey, 0.3);

$radiusSmall: 8px;
$radiusMedium: 10px;
$radiusLarge: 27px;
$radiusExtraLarge: 30px;
$modalZindex: 99999999;
$headerZindex: 999999;
