@import "../../static/styles/base/variables";

.label {
    display: flex;
    flex-direction: column;
    margin-bottom: 24px;
    position: relative;

    @media (max-width: 480px) {
        margin-bottom: 24px;
    }

    &__text {
        margin-bottom: 4px;
        font-size: 14px;
        font-weight: 400;
        line-height: 24px;
    }

    &__input {
        border: 1px solid $colorPressedGreyButton;
        background: $colorWhite;
        color: $colorBlack;
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
        padding: 11px 16px;
        --webkit-appearance: none;
        color: $colorBlack;
        font-family: $fontLexend;

        &:focus {
            outline: unset;
            border: 1px solid grey;
            --webkit-appearance: none;
        }
    }

    &__error {
        font-family: $fontLexend;
        color: $colorErrorRed;
        position: absolute;
        width: 100%;
        bottom: -20px;
        left: 0px;
        font-size: 12px;
        line-height: 16px;
        font-weight: 400;

        @media (max-width: 480px) {
            bottom: -18px;
        }
    }
}
