@import "../../static/styles/base/variables";

.favorites {
    padding: 80px 0 64px;
    min-height: 100vh;

    &__title {
        margin-bottom: 56px;
        text-align: center;
    }

    &__empty {
        font-size: 48px;
        line-height: 72px;
        margin: auto;
        display: flex;
        justify-content: center;
        align-items: center;

        @media (max-width: 768px) {
            font-size: 40px;
            line-height: 64px;
        }

        @media (max-width: 480px) {
            font-size: 24px;
            line-height: 40px;
        }
    }

    &-list {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
}
